*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}
html, body {
  height: 100%;
}

body {
/*  overflow-x: hidden;*/ /* body scroll বন্ধ */
}
/*.cursor{
    position: fixed;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: green;
}*/

#smooth-wrapper {
  overflow: hidden;
}
/* Navbar */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2em 6em;
    background:floralwhite;
    
    
}

img{
  max-width:100%;
  height:auto;
}

nav .content{
  max-width:1400px;
  margin:auto;
}
nav h1{
    font-size: 4em;
}

*::selection{
    color: white;
    background-color: black;
}

.container{
    display:flex;
    gap:20px;
    align-items:center;
    
}

/* Tools dropdown */
.tools{
    position:relative;
    cursor:pointer;
}

/* Dropdown menu */
.tools ul{
    position:absolute;
    top:100%;
    left:50%;
    transform:translate(-50%, 40px);

    background:violet;
    list-style:none;
    padding:20px 40px;
    margin: 0 -20px;
    border-radius:20px;

    display:grid;
    grid-template-columns:1fr 1fr;
    
    gap:18px;

    opacity:0;
    visibility:hidden;
    transition:0.3s ease;
    z-index:10;
}

/* Show on hover */
.tools:hover ul{
    opacity:1;
    visibility:visible;
    transform:translate(-50%, 30px);
    box-shadow: 4px 10px 15px;
}

/* Tool item */
.tools ul li{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:6px;
    
    padding:20px 20px;
    border-radius:12px;
    transition:0.3s;
}

.tools ul li:hover{
    background:#fff;
}

/* Image */
.tools ul li img{
    width:40px;
}

/* Tool name */
.tools ul li span{
    font-size:13px;
    font-weight:600;
    color:#222;
}

/* Navbar hover */
.container > div:hover{
    text-decoration:none;
}
.container > div{
    padding:6px 10px;
    border-radius:8px;
    font-size: 1.4rem;
    
}

.container > div:hover{
    background-color:#fff;
    color:#000;
    border-radius: 11px;
    text-decoration:none;
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
    
    box-shadow: 2px 6px 10px;
}/*
.container > div::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: black;
    transition: all 0.3s ease-in-out;
}
.container > div:hover::after{
    width: 100%;
}*/
.butt{
    padding: 10px 22px;
    border: 2px solid aquamarine;
    border-radius: 27px;
    background-color: #80ffc1;
    color: brown;
    font-size: 1.5em;
}
.butt:hover{
    filter: invert(1);
    transition: all 0.3s ease-in-out;
}













.hero{
    border: 2px solid black;
    width: 100%;
    height: 100vh;
    background-color: #1A73E8;
    color: white;
}
.content{
    margin: 18em 6em;
}
.content h1{
    display: flex;
    justify-content: center;
    font-size: 8em;
}
.content p{
    display: flex;
    justify-content: center;
    margin: 22px;
    font-size: 3em;
}
.btn{
    padding: 12px 54px;
    border: none;
    border-radius: 50px;
    font-size: 4em;
    
}
.btn:hover{
    background-color: darkorange;
    box-shadow: 10px 10px 20px;
    transition: all 0.3 ease-in-out;
}
.btco{
    display: flex;
    justify-content: center;
    border: none;
}









.review{
    border: 2px solid black;
   min-width: 3000px;
    height: 100vh;
    background-color: #00C2FF;
    display: flex;
    justify-content: center;
    align-items: center;
 /*   gap:60px;*/
    position: relative;
}

.card{
    
  width: 50%;
    height: 50%;
    background-color: sandybrown;
    margin: 7em 4rem;
}
.review h1{
    position: absolute;
    top: 30px;      /* উপরে কত দূরে */
    left: 40px;     /* বাম corner */

    font-size: 12em;
    color: #000;
    text-transform: uppercase;
}
.review h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 0%;
    background-color: black;
    transition: all 0.4s ease-in-out;
}
.review h1:hover::after{
    width: 100%;
}

